/* Lot of my components refers to this CSS so I left it outside folder*/



.patient-encounters, .patient-appointments {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.patient-encounters h3, .patient-appointments h3 {
  text-align: center;
}

.patient-encounters ul, .patient-appointments ul {
  list-style: none;
  padding: 0;
}

.encounter-card, .appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}

.encounter-card:hover, .appointment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.encounter-card a, .appointment-card a {
  text-decoration: none;
  color: inherit;
}

.encounter-card div, .appointment-card div {
  display: flex;
  flex-direction: column;
}

.encounter-card p, .appointment-card p {
  margin: 4px 0;
}

.encounter-card .content, .appointment-card .content {
  flex-grow: 1;
}

.encounter-card .actions, .appointment-card .actions {
  display: flex;
  flex-direction: column;
}

.encounter-card button, .appointment-card button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 4px;
}

.encounter-card .delete, .appointment-card .delete {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 4px;
}

.encounter-card button:hover, .appointment-card button:hover {
  background-color: lightblue;
}

/* For patient form  */
.form-container {
  max-width: 400px;
  margin: auto;
}
.form-container .form-group {
  margin-bottom: 20px;
}
.form-container .form-label {
  display: block;
  margin-bottom: 5px;
}
.form-container .form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Error alerts  */
.alert {
  color: white;
  font-weight: 300;
  background-color: red;
  margin-bottom: 10px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
}

